*
{
  margin: 0;
  padding: 0;
}




/*#header
{
    height: 7vh;
}*/

#header-img {
  width: 200px;
  height: 62px;
  top: -2px;
  left: -1px;
  position: fixed;
}

#nav-bar {
  background-color: #ffdd00;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
}

#unordered-list {
  float: right;
  list-style: none;
}

li {
  display: inline;
}

.list {
  float: right;
  text-decoration: none;
  padding: 7px 35px;
  font-weight: bold;
  font-family: "Bebas Neue", cursive;
  font-size: larger;
}

#second-div {
  margin-top: 100px;
}
#title {
  font-weight: bold;
  font-family: "Bebas Neue", cursive;
  font-size: xx-large;
  text-align: center;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#email-input {
  width: 15%;
  padding: 5px 5px;
}

#btn {
  background-color: #ffdd00;
  color: #3333ff;
  margin-top: 1rem;
  padding: 15px 17px 15px 17px;
  border: 12px none;
  border-radius: 50%;
  font-size: 25px;
  font-family: "Bebas Neue", cursive;
}

#btn:hover {
  transform: scale(1, 1.1);
  transition: 0.5s;
  background-color: #3333ff;
  color: #ffdd00;
}

/*

#third-div
{
    display: flex;
    flex-direction: column;
   /* align-items: center; [the comment starts and ends here]
    margin-left: 30%;
    justify-content: center;
    margin-top: 5rem;  
}
*/
/*
.inner-div
{
    /*display: flex;  [the comment starts here]
    flex-direction: row;
    align-items: center;
    justify-content: center;    [the comment ends here]
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
   /* justify-content: space-evenly;  [the comment starts here]
    align-content: flex-start;*  [the comment ends here]
    width: 50%;


}

/*
.fas 
{
    color: #FFDD00;
    font-size: 40px;
    margin-bottom: 5rem;
    display: inline-block;
    margin-right: 10px;
    

}

.fab
{
    color: #FFDD00;
    font-size: 40px;
    margin-bottom: 5rem;
    display: inline-block;
    
    
}

.headlines
{
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
    color: #3333ff;
    margin-left: 10px;
    display: inline;
    margin-bottom: 5rem;
    font-size:  35px;
}

.first-paragraph
{
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    flex-direction: column;
} */

#third-div {
  margin-top: 15vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 30%;
}

.inner-div {
}

.fas {
  color: #ffdd00;
  font-size: 40px;
  display: inline;
  margin-right: 2vw;
}

.fab {
  color: #ffdd00;
  font-size: 40px;
  display: inline;
  margin-right: 2vw;
}

.headlines {
  font-family: "Bebas Neue", cursive;
  color: #3333ff;
  font-size: 25px;
  display: inline-block;
}

.first-paragraph {
  font-family: "Bebas Neue", cursive;
  font-size: 15px;
  margin-top: 5px;
  margin-left: 5vw;
}

#video {
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media(max-width:500px)
{
  #video
  {
    width: 300px;
  }
}

#fifth-div {
  margin-top: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}


/*
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #000;
  border-radius: 3px;
}
*/

.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
    padding-bottom: 10px;
}


.last-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around center;
  align-items: center;
  
}

.top {
  font-family: "Bebas Neue", cursive;
  color: black;
  background-color: rgb(161, 161, 161);
  height: 5vh;
  width: 100%;
}

h2 {
  font-family: "Bebas Neue", cursive;
  color: #3333ff;
}

li {
  font-family: "Bebas Neue", cursive;
}

.common-btn {
  background-color: #ffdd00;
  color: #3333ff;
  border: 12px none;
  border-radius: 50%;
  font-family: "Bebas Neue", cursive;
}

.common-btn:hover {
  transform: scale(1, 1.1);
  transition: 0.5s;
  background-color: #3333ff;
  color: #ffdd00;
}

#footer{
    background-color: rgb(161, 161, 161);
    
}


@media(max-width:500px)
{
  #fifth-div
  {
    display: block;
  }
}

#footer
{
  background-color: rgb(161, 161, 161);
  margin-top: 10vh;
  height: 10vh;
  bottom: -12px;
  left: -1px;
  right: -1px;
  display: flex;
  flex-direction: column;
}

#footer-list
{
  display: flex;  
  justify-content: flex-end;
  font-family: "Bebas Neue", cursive;
  margin-top: 2vh;
}

#footer-list a{
  text-decoration: none;
  padding: 10px 10px 10px 10px;
}

#cpy-right
{
  display: flex;  
  justify-content: flex-end;
  font-family: "Bebas Neue", cursive;

}